<div data-aos="zoom-in-up" class="row justify-content-center">
    <div class=":|§blur§|: card text-center bg-dark justify-content-center" style="width: 46rem;">
        <div class="card-body bg-dark justify-content-center">
        <h4><span class="badge badge-danger">:|§isAdultContent§|:</span> :|§title§|: </h4>
        </div>
        :|§uriMain§|:
        <span class="card-text bg-dark">:|§description§|:</span>
        <div class="card-body bg-dark">
            <span class="badge badge-pill badge-light">Create Date: :|§dateCreated§|:</span>  
            <span class="badge badge-light">
                <strong>Tags:</strong> :|§tags§|:
            </span>
            <h4><span class="badge badge-pill badge-light mt-2">Comments: :|§nComments§|:</span></h4>
        </div>
    </div>
</div>
<br/>