<div data-aos="zoom-in-up" class="card text-center bg-dark justify-content-center" style="width: 18rem;">
    <div class="card-body bg-dark  justify-content-center">
    <h4><span class="badge badge-danger">:|§isAdultContent§|:</span> :|§title§|: </h4>
    </div>
    :|§uriMain§|:
    <div class="card-body bg-dark">
        <p class="card-text bg-dark">:|§description§|:</p>
    </div>
    <div class="card-body bg-dark">
        <span class="badge badge-light">
            <strong>Tags:</strong> :|§tags§|:
        </span>
        <span class="badge badge-pill badge-light">Create Date: :|§dateCreated§|:</span>
    </div>
</div>
</br>
