<div data-aos="zoom-in-up" class="card bg-dark" style="width: 18rem;">
    <div class="card-body bg-dark justify-content-center">
    <h4><span class="badge badge-danger">:|§isAdultContent§|:</span> :|§title§|: </h4>
    </div>
    :|§uriMain§|:
    <div class="card-body bg-dark">
        <p class="card-text bg-dark">:|§description§|:</p>
    </div>
    <div class="card-body bg-dark">
        :|§dateCreated§|:
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
</br>